<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayuda</title>
</head>
<body>
    <h1>Ayuda: Preguntas frecuentes</h1>
    <ul>
        <li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum voluptatum reprehenderit eaque, sint quo ab suscipit accusamus? Exercitationem voluptatibus quos quod impedit voluptates reiciendis nisi! Ratione inventore molestias suscipit ea.</p>
        </li>
        <li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum voluptatum reprehenderit eaque, sint quo ab suscipit accusamus? Exercitationem voluptatibus quos quod impedit voluptates reiciendis nisi! Ratione inventore molestias suscipit ea.</p>
        </li>
        <li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum voluptatum reprehenderit eaque, sint quo ab suscipit accusamus? Exercitationem voluptatibus quos quod impedit voluptates reiciendis nisi! Ratione inventore molestias suscipit ea.</p>
        </li>
        <li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum voluptatum reprehenderit eaque, sint quo ab suscipit accusamus? Exercitationem voluptatibus quos quod impedit voluptates reiciendis nisi! Ratione inventore molestias suscipit ea.</p>
        </li>
        <li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum voluptatum reprehenderit eaque, sint quo ab suscipit accusamus? Exercitationem voluptatibus quos quod impedit voluptates reiciendis nisi! Ratione inventore molestias suscipit ea.</p>
        </li>
    </ul>
</body>
</html>